<div>
    <h3>Queue Name List</h3>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">QID</th>
                <th scope="col">DeptID</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dq of Dqueues; index as i">
                <th>{{ i + 1 }}</th>
                <td>{{ dq.QueueId }}</td>
                <td>{{ dq.DepartmentId }}</td>
                <td>{{ dq.Queue }}</td>
                <td>{{ dq.Date | date:'shortDate' }}</td>
            </tr>
        </tbody>
    </table>
    <h1></h1>
</div>
<!-- 
    QueueId: number;
    DepartmentId: number;
    Queue: number;
    Date: Date; -->