<div class="mx-auto">
    <div class="row justify-content-center">
        <div class="col-4 mt-4 form">
            <p class="title">Account Settings</p>
            <div class="mx-5">
                <!-- input fields -->
                <div class="md-form">
                    <input mdbInput type="text" id="FirstName" class="form-control">
                    <label for="form1" class="">First Name</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="text" id="MiddleName" class="form-control">
                    <label for="form1" class="">Middle Name</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="text" id="LastName" class="form-control">
                    <label for="form1" class="">Last Name</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix"></i>
                    <input mdbInput type="text" id="Email" class="form-control">
                    <label for="form2">Email</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-user prefix"></i>
                    <input mdbInput type="text" id="Username" class="form-control">
                    <label for="form2">Username</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-lock prefix"></i>
                    <input mdbInput type="text" id="Password" class="form-control">
                    <label for="form2">Password</label>
                </div>
                <!-- save button -->
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-outline-amber">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!--
Username
Password
Fname
Mname
Lname
Email
-->