<div class="mx-5">
    <div class="row">
        <div class="col-2 mt-4">
            <!-- menu -->
            <div class="btn-group-vertical container-fluid">
                <button class="p-3 rounded-top" (click)="maintenance='department'">Departments</button>
                <button class="p-3" (click)="maintenance='news'">News</button>
                <button class="p-3" (click)="maintenance='announcement'">Announcements</button>
                <button class="p-3 rounded-bottom" (click)="maintenance='events'">Events</button>
            </div>
        </div>

        <!-- ng directive para iswitch yung views -->
        <div class="container ml-0">
            <div class="col-auto mt-4" [ngSwitch]="maintenance">
                <!-- Dept Maintenance -->
                <div class="mntnc-container" *ngSwitchCase="'department'">
                    <h1 class="text-light">Manage Departments</h1>
                </div>

                <!-- News Maintenance, yung design pati logic neto ibase sa events -->
                <div class="mntnc-container" *ngSwitchCase="'news'">
                    <h1 class="text-light">Maintain News</h1>
                </div>

                <!-- AnnounceMaintenance -->
                <div class="mntnc-container" *ngSwitchCase="'announcement'">
                    <h1 class="text-light">Maintain Announcements</h1>
                </div>

                <!-- Events Maintenance -->
                <div class="mntnc-container" *ngSwitchCase="'events'">
                    <h1 class="text-light">Manage Events</h1>

                </div>
            </div>
        </div>
    </div>
</div>