<div class="card">
    <div class="row no-gutters">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header py-1">Department Reports</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Department ID</th>
                                    <th>Department Name</th>
                                    <th>Queue</th>
                                    <th>Queue ID</th>
                                    <th>Date</th>
                                    <th>IsActive</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let variable of dept; index as i">
                                    <!--For loop ng dept-->
                                    <td>{{variable.DepartmentId}}</td>
                                    <td>{{variable.DepartmentName}}</td>
                                    <td>{{variable.Queue}}</td>
                                    <td>{{variable.QueueId}}</td>
                                    <td>{{variable.Date}}</td>
                                    <td>{{variable.IsActive}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header py-1">Statistics</div>
                <div class="card-body">
                    <ul class="list-group">
                        <!--Ilagay ung count ng today to monthly kasi d pa dynamic to-->
                        <li class="list-group-item"><i class="fas fa-calendar-day"></i> Today
                            <span class="badge badge-dark float-right">Today</span></li>
                        <!--Count Today of Department-->
                        <li class="list-group-item"><i class="fas fa-calendar-week"></i> Weekly
                            <span class="badge badge-secondary float-right">Weekly</span>
                            <!--Count Weekly of Department also iniisip ko na dpat [This Week] nlang ung title kasi ndi definitive ung weekly. parang marginalized mean-->
                        </li>
                        <li class="list-group-item"><i class="fas fa-calendar-alt"></i> Monthly
                            <span class="badge badge-secondary float-right">Monthly</span>
                            <!--Count Monthly of Department-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-1">Audit Trail</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Department ID</th>
                                    <th>Department Name</th>
                                    <th>Queue</th>
                                    <th>Queue ID</th>
                                    <th>Date</th>
                                    <th>IsActive</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let variable of dept; index as i">
                                    <!--For loop ng dept-->
                                    <td>{{variable.DepartmentId}}</td>
                                    <td>{{variable.DepartmentName}}</td>
                                    <td>{{variable.Queue}}</td>
                                    <td>{{variable.QueueId}}</td>
                                    <td>{{variable.Date}}</td>
                                    <td>{{variable.IsActive}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>