<div id="regi-form" class="container mt-4">
    <form>
        <h3 class="text-center text-light py-2">Registration Form</h3>
        <!-- container ng names tsaka nung queue number -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 names">
                    <input type="text" name="fname" class="input w-100">
                    <div class="row">
                        <div class="col">
                            <label class="text-light">First Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 names">
                    <input type="text" name="lname" class="input w-100">
                    <div class="row">
                        <div class="col">
                            <label class="text-light">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 names">
                    <input type="text" name="mname" class="input w-100">
                    <div class="row">
                        <div class="col">
                            <label class="text-light">Middle Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 datepickers">
                    <input type="date" name="bday" class="input w-100">
                    <div class="row">
                        <div class="col">
                            <label class="text-light">Birthdate:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <button type="button" class="btn btn-outline-success mt-2">Priority(PWD/Senior Citizen/Pregnant)?</button>
                </div>
                <!-- collapsible menu -->
                <div class="col">

                </div>
            </div>
            <h3 class="text-light pl-3 pt-3">Choose Department to Visit</h3>
            <!-- container ng radio-btns -->
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div class="row pl-3">
                            <div class="col-auto">
                                <ul class="radio-background list-group">
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Treasurer</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Assessor</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Accountant</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Budget Officer</b></li>
                                </ul>
                            </div>

                            <div class="col-auto">
                                <ul class="radio-background list-group">
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Development Coordinator</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Engineer</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Health Officer</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Civil Registrar</b></li>
                                </ul>
                            </div>

                            <div class="col-auto">
                                <ul class="radio-background list-group">
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Agriculturist</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Agricultural</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Information Officer</b></li>
                                    <li class="radio-background list-group-item text-light"><input class="form-check-input" name="dept" type="radio"><b> Social Welfare and Development</b></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- purpose -->
                    <div class="container pb-2">
                        <h3 class="text-light pt-3">Purpose</h3>
                        <textarea id="txtarea" class="form-control my-3 mw-25" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                </div>
                <div class="col align-self-end pb-4 mr-3">
                    <!-- submit-cancel -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <button routerLink="/trans1" class="container-fluid mw-25 bttn btn btn-secondary mx-2">SUBMIT</button>
                            </div>
                            <div class="col">
                                <button routerLink="/regi-form" class="container-fluid mw-25 btn btn-secondary mx-2">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>