.add-announce {
  background-color: #FFFAFA;
  border-radius: 10px;
  min-width: 400px;
  max-width: 400px;
  height: 50%;
}

.announcement {
  background-color: #FFFAFA;
  border-radius: 10px;
  height: 700px;
  min-width: 700px;
  overflow-x: hidden;
}

#preview-before-upload {
  width: 100%;
  height: 300px;
}

#imagepreview {
  object-fit: fill;
  max-width: 100%;
}