

/* DEPT COPY PASTE */

.add-department {
  background-color: #FFFAFA;
  border-radius: 1px;
  min-width: 350px;
  max-width: 350px;
  height: 650px;
}

.department {
  background-color: #FFFAFA;
  border-radius: 1px;
  min-width: 700px;
  height: 700px;
  overflow-y: scroll;
  overflow-x: scroll;
}


