

/* DEPT COPY PASTE */

.add-department {
  background-color: #FFFAFA;
  border-radius: 10px;
  min-width: 400px;
  max-width: 400px;
  height: 515px;
}

.department {
  background-color: #FFFAFA;
  border-radius: 10px;
  min-width: 400px;
  height: 700px;
  overflow-y: scroll;
  overflow-x: scroll;
}


