.gen-trias {
    background: url("../../assets/img/bg.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.login {
    text-align: center;
    height: 100vh;
    padding-top: 10%;
    background-color: #fffaf1;
}

.login-container {
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
    .login {
        text-align: center;
        height: 100vh;
        padding-top: 20%;
        background-color: #fffaf1;
    }
}