#queues {
    background-color: rgba(51, 66, 93, 0.8);
    height: 680px;
    overflow-y: scroll;
    padding-right: 5px;
}

#queues::-webkit-scrollbar {
    width: 10px;
}

#queues::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.9);
    border-radius: 25px;
}

#queues::-webkit-scrollbar-thumb:hover {
    background: rgba(53, 53, 53, 0.5);
}

.bg-department {
    background-color: rgb(255, 255, 255);
}

.queue {
    padding-top: 5%;
}

.queue-item {
    background-color: #33425D;
    margin-bottom: 15px;
}

#date_time {
    line-height: 3;
    background-color: rgba(51, 66, 93, 0.8);
}

#sunsun {
    width: 80px;
    height: 80px;
}

#mdt-container {
    background-color: rgb(31, 40, 58, 0.5);
}

#dayvider {
    border-left: 3px solid #ffffff;
    height: 56px
}

#year {
    font-size: 48px;
}

#day {
    width: 200px;
}

#time {
    font-size: 48px;
}

#myCaro {
    width: 100%;
    height: 330px;
}

.myCaro {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

#divider {
    border-bottom: 3px solid black;
    width: 96%;
}

#announcement {
    background-color: rgba(51, 66, 93, 0.8);
}

#announcement>h4 {
    color: orange;
}

#announcement>p {
    font-size: 120%;
}