<h3 class="text-light text-center pt-5">
    <b>PLEASE CHOOSE TRANSACTION</b></h3>
<div class="container">
    <div class="row">
        <!-- lagyan ng script na ipapasa yung value na pinili papunta sa page ng tr-2-final -->
        <div class="col">
            <a routerLink="/trans2"><img id="single-tr" src="../../../assets/img/tr-1/single_tr.png"></a>

        </div>

        <div class="col">
            <a routerLink="/trans2"><img id="multi-tr" src="../../../assets/img/tr-1/multi-tr"></a>
        </div>

        <!--gawan ng counter para maconfirm kung single or multiple transaction-->
    </div>
</div>