<app-navigation></app-navigation>

<div class="container-fluid mt-3">
    <div class="row pt-1 mt-3">
        <div class="col-md-10">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4>Today<span class="badge badge-dark badge-secondary float-right">{{ daily }}</span></h4>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4>This Week<span class="badge badge-dark badge-secondary float-right">{{ weekly }}</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>This Month<span class="badge badge-dark badge-secondary float-right">{{ monthly }}</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>Total<span class="badge badge-dark badge-secondary float-right">{{ total }}</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header py-1 mt-1">
                    <h4 class="font-weight-bold">Weekly Chart</h4>
                </div>
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
</div>