<app-navigation></app-navigation>

<div class="container-fluid">
    <div class="row pt-1 mt-3">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4>Today<span class="badge badge-dark badge-secondary float-right">Number</span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        This Week<span class="badge badge-dark float-right">Number</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        This Month<span class="badge badge-dark float-right">Number</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Total<span class="badge badge-dark float-right">Number</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md">
            <div class="card">
                <div class="card-header py-1 mt-1">
                    <h4 class="font-weight-bold">Weekly Chart</h4>
                </div>
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
</div>