<app-navigation></app-navigation>

<div class="container">
    <div class="row  pt-5 mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Current Queues</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" *ngFor="let variable of dept; index as i">
                        <!--for loop ng department queues current-->
                        <li class="list-group-item">{{variable.name}}<span class="badge badge-dark float-right">{{variable.numberToday}}</span></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Department Traffic</div>
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>