/* department-maintain */

.add-department {
    background-color: #FFFAFA;
    border-radius: 10px;
    min-width: 400px;
    height: 50%;
}

.department {
    background-color: #FFFAFA;
    border-radius: 10px;
    min-width: 400px;
    height: 700px;
    overflow-y: scroll;
}


