<app-navigation></app-navigation>
<!-- Manage Announcements -->
<div class="container pl-3 ml-5 mt-5">
    <div class="row">
        <div class="col add-announce p-3">
            <h2>Manage Events</h2>
            <form class="md-form" #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
                <!-- event description -->
                <div class="md-form">
                    <i class="fas fa-envelope-open-text prefix"></i>
                    <label for="desc_a">Event Description</label>
                    <input id="desc_a" type="text" class="form-control" maxlength="255" name="Description"
                        #Description="ngModel" [(ngModel)]="passEvents.Description" required>
                </div>

                <div class="md-form">
                    <h6>Date</h6>
                    <div class="md-form">
                        <i for="date" class="fas fa-calendar-day prefix"></i>
                        <input mdbInput id="date" type="date" name="Date" max="9999-12-31" #Date="ngModel"
                            [(ngModel)]="passEvents.Date">
                    </div>
                </div>

                <div class="md-form">
                    <h6>Time(HH:MM:AM/PM)</h6>
                    <div class="md-form">
                        <i for="date" class="fas fa-clock prefix"></i>
                        <input mdbInput id="time" type="time" name="Time" #Time="ngModel" [(ngModel)]="passEvents.Time">
                    </div>
                </div>
                <div class="md-form">
                    <i class="fas fa-map-marked-alt prefix"></i>
                    <label for="place">Place</label>
                    <input mdbInput id="place" type="text" class="form-control" maxlength="255" name="Place"
                        #Place="ngModel" [(ngModel)]="passEvents.Place" required>
                </div>
                <input class="btn btn-success float-right" type="submit" value="ADD CONTENT">
            </form>
        </div>

        <!-- announcement table -->
        <div class="col-5 announcement pt-3 mx-1 ml-4">
            <h4 class="text-center">Events</h4>
            <table class="table container-fluid table-striped ">
                <thead>
                    <tr>
                        <th scope="col">Event #</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time(24hr Format)</th>
                        <th scope="col">Place</th>
                        <th colspan="2" class="text-center">Maintenance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events; index as i">
                        <td>{{ i+1 }}</td>
                        <td>{{ event.Description }}</td>
                        <td>{{ event.Date | date: 'longDate'}}</td>
                        <td>{{ event.Time | slice:0:5 }}</td>
                        <td>{{ event.Place }}</td>
                        <td><button type="button" data-toggle="modal" data-target="#editAnnounceForm"
                                class="btn btn-warning rounded" (click)="throwId(event.EventId)">EDIT</button></td>
                        <!-- lagyan confirmation modal  -->
                        <td><button type="button" class="btn btn-danger rounded"
                                (click)="delete(event.EventId)">DELETE</button></td>
                        <div class="modal fade" id="editAnnounceForm" tabindex="-1" role="modal"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <!-- header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title w-100 font-weight-bold">Edit Announcement</h4>
                                    </div>
                                    <!-- modal form -->
                                    <div class="modal-body mx-3" id="editAnnounceForm">
                                        <form class="md-form" #form="ngForm" novalidate>
                                            <!-- event description -->
                                            <!-- event description -->
                                            <div class="md-form">
                                                <i class="fas fa-envelope-open-text prefix"></i>
                                                <label for="desc_a">Event Description</label>
                                                <input id="desc_a" type="text" class="form-control" name="Description"
                                                    #Description="ngModel" [(ngModel)]="passEvents.Description"
                                                    required>
                                            </div>

                                            <div class="md-form">
                                                <h6>Date</h6>
                                                <div class="md-form">
                                                    <i for="date" class="fas fa-calendar-day prefix"></i>
                                                    <input mdbInput id="date" type="date" name="Date" #Date="ngModel"
                                                        [(ngModel)]="passEvents.Date">
                                                </div>
                                            </div>

                                            <div class="md-form">
                                                <h6>Time(HH:MM:AM/PM)</h6>
                                                <div class="md-form">
                                                    <i for="date" class="fas fa-clock prefix"></i>
                                                    <input mdbInput id="time" type="time" name="Time" #Time="ngModel"
                                                        [(ngModel)]="passEvents.Time">
                                                </div>
                                            </div>
                                            <div class="md-form">
                                                <i class="fas fa-map-marked-alt prefix"></i>
                                                <label for="place">Place</label>
                                                <input mdbInput id="place" type="text" class="form-control" name="Place"
                                                    #Place="ngModel" [(ngModel)]="passEvents.Place" required>
                                            </div>

                                            <div class="modal-footer d-flex justify-content-end">
                                                <button type="button" data-dismiss="modal" class="btn btn-secondary"
                                                    aria-label="Close">Cancel</button>
                                                <button type="button" data-dismiss="modal" class="btn btn-success"
                                                    (click)="edit(form)">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>