<div class="row justify-content-md-center">
  <div class="col-md-3">
      <div class="container mt-3" id="accountSettings">
          <h3 class="text-light text-center pt-2">Settings</h3>
          <div class="container py-3">
              <!-- Admin Details Update -->
              <div class="form-group">
                  <label class="text-light" for="fname">First Name</label>
                  <input type="text" class="form-control" id="fname" placeholder="John">
              </div>

              <div class="form-group">
                  <label class="text-light" for="mname">Middle Name</label>
                  <input type="text" class="form-control" id="mname" placeholder="whatevs">
              </div>

              <div class="form-group">
                  <label class="text-light" for="lname">Last Name</label>
                  <input type="text" class="form-control" id="lname" placeholder="Doe">
              </div>

              <div class="form-group">
                  <label class="text-light" for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
              </div>

              <div class="form-group">
                  <label class="text-light" for="password">New Password</label>
                  <input type="password" class="form-control" id="password">
              </div>

              <div class="form-group">
                  <label class="text-light" for="password">Confirm Password</label>
                  <input type="password" class="form-control">
              </div>

              <button class="btn btn-success float-right">Save Changes</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      Register Teller
                  </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Teller Profile</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                          </div>
                          <div class="modal-body">
                              <div class="form-group">
                                  <label for="fname">First Name</label>
                                  <input type="text" class="form-control" id="fname" name="fname" placeholder="John">
                              </div>

                              <div class="form-group">
                                  <label for="mname">Middle Name</label>
                                  <input type="text" class="form-control" id="mname" placeholder="whatevs">
                              </div>

                              <div class="form-group">
                                  <label for="lname">Last Name</label>
                                  <input type="text" class="form-control" id="lname" placeholder="Doe">
                              </div>

                              <div class="form-group">
                                  <label for="email">Email address</label>
                                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                              </div>
                              <label>One-Time Password</label>
                              <div class="input-group mb-4">
                                  <div class="input-group-prepend">
                                      <button class="btn btn-outline-secondary" type="button">Generate OTP</button>
                                  </div>
                                  <input type="text" class="form-control" disabled aria-describedby="basic-addon1" id="password">
                              </div>
                          </div>
                          <div class=" modal-footer ">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-success">Register</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>